/* /_sass/_custom-nav.scss */

.custom-navbar {
  position: absolute; /* Hero 이미지 위에 겹치도록 설정 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* 다른 요소들보다 위에 보이도록 설정 */
  background-color: rgba(0, 0, 0, 0.4); /* 검은색 40% 투명도. 0.4 값을 조절해 투명도를 변경하세요. */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */

  .wrapper {
    display: flex;
    justify-content: space-between; /* 로고와 메뉴 링크를 양쪽 끝으로 정렬 */
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .site-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin-left: 20px;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2); /* 마우스 오버 시 밝은 효과 */
      }
    }
  }
}
